<!-- <mat-form-field class="example-form-field">
  <input matInput placeholder="Pesquisar">
  <button mat-button matSuffix mat-icon-button aria-label="Search">
    <mat-icon>pesquisar</mat-icon>
  </button>
</mat-form-field> -->

<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>

<button mat-flat-button color="accent">Alterar</button>
<button mat-flat-button color="warn">Excluir</button>
<button mat-flat-button color="accent">Alterar</button>
<button mat-flat-button color="warn">Excluir</button>
<button mat-flat-button color="accent">Alterar</button>
<button mat-flat-button color="warn">Excluir</button>


