
  <form >
      <div class="form-header">
          <div class="title">
              <h1>Listagem de Cliente</h1>
          </div>

          <div class="login-button">
            <button mat-raised-button color="primary" type="submit">Cadastrar novo cliente</button>
          </div>
      </div>
  </form>

      <main>

        <div class="divSearch">
        <form action="/search" method="get">
          <input type="text" placeholder="Pesquisar..." name="q">
          <button mat-raised-button color="primary" type="submit">Pesquisar</button>
        </form>
         </div>

      </main>
<div class="tabelinha">
      <div class="d-flex flex-column">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Cliente</th>
              <th scope="col">Limite</th>
              <th scope="col">Validade</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-warning">Alterar</button></td>
            </tr>

            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-warning">Alterar</button></td>
            </tr>

            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-warning">Alterar</button></td>
            </tr>

            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-warning">Alterar</button></td>
            </tr>

            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-warning">Alterar</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

