

<div class="container">
    <h1>Lista de Clientes</h1>
    <mat-list *ngFor="let cliente of cliente">
        <mat-list-item class="lista">Nome do cliente: {{ cliente.nome  }}</mat-list-item>
        <mat-list-item class="lista">CPF: {{ cliente.cpf }}</mat-list-item>
        <mat-list-item class="lista">Telefone: {{ cliente.telefone }}</mat-list-item>
        <mat-list-item class="lista">Email: {{ cliente.email }}</mat-list-item>
        <div class="buttons">
            <button mat-raised-button color="primary" class="botoes-acoes" (click)="abrirDialog(cliente)">Alterar</button>
            <button mat-raised-button color="warn" class="botoes-acoes" *ngIf="cliente.status == true" (click)="desativarCliente(cliente.id)">Desativar</button>
            <button mat-raised-button color="primary" class="botoes-acoes" *ngIf="cliente.status == false" (click)="ativarCliente(cliente.id)">Ativar</button>
        </div>
    </mat-list>
    <button class="botao-cadastrar" mat-raised-button color="primary" routerLink="/cadastrocliente">Cadastrar novo cliente</button>
</div>