h1 {
  margin: 0;
  color: #fff;
}

.button {
  margin-left: 20px;
}

.botao-listagem-cartao {
  padding: 1rem 1.5rem 1.5rem 2rem ;
  justify-content: right;
}

mat-list-item {
  height: auto;
  border: 1px solid #ccc;

  .test {
    height: auto;
  }
  .botoes-acoes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 200px;
    height: 50px;
  }
}
.header {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem 1.5rem 1.5rem 2rem;
}
.h2-pesquisa {
  margin: 16px 16px;
}
.pesquisa {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 35px;

  input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
  }
}
.container {
  margin: 30px auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 1200px; 

    .lista {
        width: auto;
    }

    button {
        width: 300px;
        height: 50px;
    }
}

.buttons {
  margin: 5rem 2rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap:30px
}

