

<div class="container">
  <div class="header">
    <h1>Listagem de cartões</h1>
  </div>
  <div class="botao-listagem-cartao">
    <button mat-raised-button color="primary" routerLink="/cadastrocartao">Cadastrar novo cartão</button>
  </div>
  
  
  <div class="pesquisa">
    <h2 class="h2-pesquisa">Pesquisar</h2>
      <input matInput [(ngModel)]="numeroDigitado" placeholder="Digite o número do cartão" type="text" (input)="searchNumero($event)">
      <input type="text" [(ngModel)]="cpfDigitado" placeholder="Digite o CPF" (input)="searchCpf($event)">
      <!-- <button mat-raised-button color="primary" class="botoes-acoes" (click)="buscarCartoesPorNumero()">Pesquisar</button> -->
      
  </div>
  <mat-list *ngFor="let cartao of cartoes">
      <mat-list-item class="lista">Número do cartão: {{ cartao.numeroCartao}} </mat-list-item>
      <mat-list-item class="lista">Cliente: {{ cartao.nomeCliente }}</mat-list-item>
      <mat-list-item class="lista">Limite: R$ {{ cartao.limiteCartao }}</mat-list-item>
      <mat-list-item class="lista">Validade: {{ cartao.dataValidade }} </mat-list-item>
    <div class="buttons">
        <button mat-raised-button color="primary" routerLink="/alterarlimitecartao" class="botoes-acoes" (click)="enviarDadosParaProximaPagina(cartao)">Alterar limite</button>
        <button mat-raised-button color="primary" routerLink="/visualizar-fatura" class="botoes-acoes" (click)="enviarDadosParaPaginaFatura(cartao)">Ver fatura</button>
        <button mat-raised-button color="warn" class="botoes-acoes" *ngIf="cartao.status == true" (click)="atualizarStatus(cartao.id, 0)">Desativar</button>
        <button mat-raised-button color="primary" class="botoes-acoes" *ngIf="cartao.status == false" (click)="atualizarStatus(cartao.id, 1)">Ativar</button>
    </div>
  </mat-list>
  <div class="buttons">
    <button mat-raised-button color="primary" class="botoes-acoes" (click)="irParaProximaPagina()">Proxima pagina</button>
    <button mat-raised-button color="primary" class="botoes-acoes" (click)="irParaPaginaAnterior()">Página anterior</button>
  </div>
</div>