

<div class="container">
  <div class="header">
  <h2>Lista de cartões</h2>
  <button mat-raised-button color="primary" routerLink="/cadastrocartao">Cadastrar novo cartão</button>
</div>
  
  <div class="pesquisa">
    <mat-label>Pesquisar</mat-label>
      <input matInput [(ngModel)]="numeroDigitado" placeholder="Digite o número do cartão" type="text">
      <input type="text" [(ngModel)]="cpfDigitado" placeholder="Digite o CPF">
      <button mat-raised-button color="primary" class="botoes-acoes" (click)="executarPesquisa()">Pesquisar</button>
      
  </div>
  <mat-list *ngFor="let cartao of cartoes">
      <mat-list-item class="lista">Número do cartão: {{ cartao.numeroCartao}} </mat-list-item>
      <mat-list-item class="lista">Cliente: {{ cartao.nomeCliente }}</mat-list-item>
      <mat-list-item class="lista">Limite: R$ {{ cartao.limiteCartao }}</mat-list-item>
      <mat-list-item class="lista">Validade: {{ cartao.dataValidade }} </mat-list-item>
    <div class="buttons">
        <button mat-raised-button color="primary" routerLink="/alterarlimitecartao" class="botoes-acoes" (click)="enviarDadosParaProximaPagina(cartao)">Alterar limite</button>
        <button mat-raised-button color="primary" routerLink="/cadastrocliente" class="botoes-acoes">Ver fatura</button>
        <button mat-raised-button color="warn" class="botoes-acoes" *ngIf="cartao.status == true" (click)="atualizarStatus(cartao.id, 0)">Desativar</button>
        <button mat-raised-button color="primary" class="botoes-acoes" *ngIf="cartao.status == false" (click)="atualizarStatus(cartao.id, 1)">Ativar</button>
    </div>
  </mat-list>
  
  

</div>