<div class="container">
  <mat-card class="reports-page">
    <mat-card-header>
      <mat-card-title>Relatórios Bancários</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item class="items">
          <h3 mat-line>Saldo Atual</h3>
          <p mat-line>R$ 10.000,00</p>
        </mat-list-item>
        <mat-divider mat-inset></mat-divider>
        <mat-list-item class="items">
          <h3 mat-line>Receitas do Mês</h3>
          <p mat-line>R$ 5.000,00</p>
        </mat-list-item>
        <mat-divider mat-inset></mat-divider>
        <mat-list-item class="items">
          <h3 mat-line>Despesas do Mês</h3>
          <p mat-line>R$ 3.000,00</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
