<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Relatório Gasto por Categoria">
    <div class="gasto-categoria">

      <div class="selecionar-cartao">
        <mat-form-field>
          <mat-label>Selecione o Cartão</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-label>Choose a date</mat-label>
      
      <button mat-raised-button color="accent">Visualizar</button>

      <div class="list-container">
        <mat-list role="Categoria">
          <h1>Categoria</h1>
          <mat-list-item role="listitem">Item 1</mat-list-item>
        </mat-list>

        <mat-list role="Valor Gasto">
          <h1>Valor Gasto</h1>
          <mat-list-item role="listitem">Item 1</mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
