.gasto-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selecionar-cartao {
  margin-bottom: 20px;
}

.list-container {
  display: flex;
  justify-content: space-between; // Para espaçamento igual entre os elementos
  width: 50%;


}


.mat-tab-group {
  margin-bottom: 48px;
}

.mat-list {
  flex: 1;  // Para ocupar o espaço disponível e evitar que as listas se sobreponham
  margin-right: 20px;  // Opcional: Adiciona um espaço entre as listas
}


h1 {
  color: aliceblue;
  border-bottom: 2px solid rgb(84, 24, 153);
}
