
.header {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem 1.5rem 1.5rem 2rem;
}
.gasto-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selecionar-cartao {
  margin: 3rem  ;
}

.list-container {
  display: flex;
  justify-content: space-between; // Para espaçamento igual entre os elementos
  width: 50%;
}
mat-tab {
  margin: 30px;
}
.mat-mdc-form-field {
  width: 400px;
} 
mat-tab-group {
  color: #fff;
  margin-bottom: 48px;
}

.mat-list {
  flex: 1;  // Para ocupar o espaço disponível e evitar que as listas se sobreponham
  margin-right: 20px;  // Opcional: Adiciona um espaço entre as listas
}
.botao-visualizar {
  margin: 3rem 3rem;
}

h2 {
  color: aliceblue;
  border-bottom: 2px solid rgb(84, 24, 153);
}

.container-data {
  display: flex;
  gap: 30px;
}

