<mat-card>
  <mat-card-header>
    <mat-card-title>LOGIN</mat-card-title>
    <mat-card-subtitle>Bem-Vindo</mat-card-subtitle>
  </mat-card-header>
<!--
  <div class="example-container">
    <mat-form-field>
      <mat-label>Digite seu Email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div> -->

  <mat-card-actions align="end">
    <button mat-button>Login</button>
  </mat-card-actions>
</mat-card>

