<div class="corpin">
<div id="login">

  <div class="caixa">

      <img src="assets\imagenstcc\omnilogo.png" alt="">
      <h1>CADASTRO</h1>

      <div class="name">
          <input type="text" placeholder="Nome">
      </div>

      <div class="email">
          <input type="email" placeholder="E-mail">
      </div>

      <div class="senha">
          <input type="text" placeholder="Senha">
      </div>

      <div class="senha">
          <input type="text" placeholder="Confirme a sua senha">
      </div>

      <div class="entrar">
          <p>Já tem uma conta? <a>Entre aqui.</a></p>
          <input type="submit" value="Entrar">
      </div>

  </div>

</div>
</div>
