
  <form >
      <div class="form-header">
          <div class="title">
              <h1>Cadastrar Cliente</h1>
          </div>

          <div class="login-button">
            <button mat-raised-button color="primary" type="submit">listagem de cleintes</button>
          </div>

          <div class="login-button">
              <button mat-raised-button color="primary" type="submit">Cadastrar</button>
          </div>
      </div>

      <div class="input-group">
          <div class="input-box">
            <mat-form-field>
              <input placeholder="Nome" name="nome" ngModel required>
            </mat-form-field>
          </div>

          <div class="input-box">
            <mat-form-field>
              <input placeholder="CPF" name="cpf" ngModel required email>
            </mat-form-field>
            </div>

          <div class="input-box">
            <mat-form-field>
              <input placeholder="E-mail" name="email" ngModel required>
            </mat-form-field>
          </div>

          <div class="input-box">
            <mat-form-field>
              <input placeholder="Telefone" name="telefone" placeholder="(xx) xxxx-xxxx" required ngModel required>
            </mat-form-field>

          </div>
      </div>
  </form>


