#corpoDoFormulario{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 3rem auto;
    padding: 10px;
    border-radius: 15px;
}
.cadastro-component {
  background-color: black;
}

.container  {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.pesquisa{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 30px;
}
.matInput {
  width: 200px;
    height: 30px;
    border-radius: 10px;
}

.botoes {
  display: flex;
  gap: 30px;
}
.mat-mdc-form-field {
  width: 350px;
}
