<article>
  <img class="banner" src="assets\imagenstcc\predio.png" alt="" />
</article>

<!-- Seção sobre -->
<section class="about">
  <div class="max-width">
    <h2 class="title">Sobre</h2>
    <div class="container-sobre">
      <div class="column left">
        <img
          class="logo-omnibank"
          src="assets\imagenstcc\omniwhite.png"
          alt=""
        />
      </div>
      <div class="column right">
        <h2 class="title-quem-somos">Quem somos</h2>
        <p class="texto-sobre">
          A Omnibank nasceu da necessidade em oferecer um sistema avançado de
          gerenciamento de cartões de crédito e relacionamento com os clientes.
          A plataforma integra dados dos clientes, seus perfis de consumo e as
          ofertas disponíveis, permitindo aos gerentes de relacionamento
          oferecer benefícios personalizados de acordo com o perfil e
          movimentação de cada cliente. Isso fortaleceu o relacionamento com os
          clientes, aumentando a satisfação e fidelidade dos mesmos. A Omnibank
          se destacou no mercado financeiro ao proporcionar uma experiência mais
          inteligente e personalizada no gerenciamento de cartões de crédito.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Seção serviços -->
<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">Objetivos</h2>
    <div class="serv-content">
      <div class="card">
        <div class="box">
          <div class="text">Missão</div>
          <p>
            Facilitar o acesso dos clientes a um sistema inovador de
            gerenciamento de cartões de crédito, proporcionando benefícios
            personalizados e uma experiência transparente e conveniente,
            enquanto fortalecemos o relacionamento com os clientes e
            impulsionamos a fidelidade à marca.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="text">Visão</div>
          <p>
            Ser reconhecido como referência em excelência no gerenciamento de
            cartões de crédito, utilizando tecnologias avançadas e análise de
            dados para oferecer soluções personalizadas que atendam às
            necessidades e expectativas dos nossos clientes, contribuindo assim
            para o seu sucesso financeiro e bem-estar.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="text">Valores</div>
          <p>
            Inovação<br>
            Transparência<br>
            Personalização<br>
            Ética<br>
            Foco no
            Cliente
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Seção equipe -->
<section class="teams" id="teams">
  <div class="max-width">
    <h2 class="title">Equipe</h2>
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box">
          <img src="assets\imagenstcc\liz.png" alt="Luiz" />
          <div class="nome-equipe">Luiz Felipe</div>
          <div class="cargos-equipes">Líder Técnico</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="assets\imagenstcc\leticia.png" alt="Leticia" />
          <div class="nome-equipe">Leticia Lima</div>
          <div class="cargos-equipes">Desenvolvedora Front-End</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="assets\imagenstcc\arthur.png" alt="Arthur" />
          <div class="nome-equipe">Arthur Florence</div>
          <div class="cargos-equipes">Desenvolvedor Back-End</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="assets\imagenstcc\ingrid.png" alt="Ingrid" />
          <div class="nome-equipe">Ingrid Lima</div>
          <div class="cargos-equipes">Desenvolvedora Front-End</div>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="assets\imagenstcc\nat.png" alt="Nathalya" />
          <div class="nome-equipe">Nathalya Lima</div>
          <div class="cargos-equipes">Desenvolvedora Back-End</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Seção cartão -->
<section class="cart" id="cart">
  <h2 class="title">Cartão</h2>
  <div class="container-cartao">
    <div class="div-cartao">
      <img class="cartao" src="assets\imagenstcc\cartao.png" alt="" />
    </div>
    <div class="texto-cartao">
      <h3 class="omni">Conte com a Omni</h3>
      <h4>
        Atinja um novo nível de liberdade financeira com o cartão de crédito
        Omni
      </h4>
    </div>
  </div>
</section>
