<article>
    <img class="banner" src="assets\imagenstcc\predio.png" alt="">
</article>

<!-- Seção sobre -->
<section class="about">
    <div class="max-width">
        <h2 class="title">Sobre</h2>
        <div class="container-sobre">
            <div class="column left">
                <img class="logo-omnibank" src="assets\imagenstcc\omniwhite.png" alt="">
            </div>
            <div class="column right">
                <h2 class="title-quem-somos">Quem somos</h2>
                <p class="texto-sobre">Surgimos a partir da união tradicional integrador TOTVS e profissionais com mais
                    de 10 anos de projetos de software de gestão-ERP, produtividade e colaboração. A OmniBank é uma
                    consultoria independente especializada em soluções de sistema de gestão TOTVS. Nossos profissionais
                    possuem mais de 10 anos de experiência em projetos estratégicos de Software de Gestão, Produtividade
                    e Colaboração. Atualmente, somos reconhecidos como a principal referência em suporte e serviços em
                    soluções para sistemas do tipo.</p>
            </div>
        </div>
    </div>
</section>

<!-- Seção serviços -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Objetivos</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <div class="text">Missão</div>
                    <p>Executar websites organizados e criativos para capacitar e facilitar a informação e a comunicação
                        entre as pessoas.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Visão</div>
                    <p>Visamos ser referência no mercado tecnológico dedicando nossos talentos à criação de websites
                        criativos de qualidade.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Valores</div>
                    <p>Criatividade; Excelência; Ética; Acessibilidade; Compromisso; Trabalho em equipe.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Seção equipe -->
<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">Equipe</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="assets\imagenstcc\liz.png" alt="Luiz">
                    <div class="nome-equipe">Luiz Felipe</div>
                    <div class="cargos-equipes">Líder Técnico</div>
                </div>

            </div>
            <div class="card">
                <div class="box">
                    <img src="assets\imagenstcc\leticia.png" alt="Leticia">
                    <div class="nome-equipe">Leticia Lima</div>
                    <div class="cargos-equipes">Desenvolvedora Front-End</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets\imagenstcc\arthur.png" alt="Arthur">
                    <div class="nome-equipe">Arthur Florence</div>
                    <div class="cargos-equipes">Desenvolvedor Back-End</div>
                </div>  
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets\imagenstcc\ingrid.png" alt="Ingrid">
                    <div class="nome-equipe">Ingrid Lima</div>
                    <div class="cargos-equipes">Desenvolvedora Front-End</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="assets\imagenstcc\nat.png" alt="Nathalya">
                    <div class="nome-equipe">Nathalya Lima</div>
                    <div class="cargos-equipes">Desenvolvedora Back-End</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Seção cartão -->
<section class="cart" id="cart">
    <h2 class="title">Cartão</h2>
    <div class="container-cartao">
        <div class="div-cartao">
            <img class="cartao" src="assets\imagenstcc\cartao.png" alt="">
        </div>
        <div class="texto-cartao">
            <h3 class="omni">Conte com a Omni</h3>
            <h4>Atinja um novo nível de liberdade financeira com o cartão de crédito Omni</h4>
        </div>
    </div>
</section>

<!-- <main class="cards">
    <section class="card contact">
        <div class="icon">
            <img src="assets/Chat.png" alt="Contact us.">
        </div>
        <h3>Compras realizadas</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Vizualizar</button>
    </section>
    <section class="card shop">
        <div class="icon">
            <img src="assets/Bag.png" alt="Shop here.">
        </div>
        <h3>Compras de maior valor</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Visualizar</button>
    </section>
    <section class="card about">
        <div class="icon">
            <img src="assets/Play.png" alt="About us.">
        </div>
        <h3>Não realizaram compras</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <button>Vizualizar</button>
    </section>
</main> -->